[Unit]
Description=Display
After=network.target

[Service]
User=username
Environment="PYTHONPATH=/path/to/your/python/modules:/usr/lib/python3/dist-packages"
ExecStart=/usr/bin/python3 /path/to/your/bamboobot_battery_display/display.py
Restart=always

[Install]
WantedBy=multi-user.target
